node_modules/
package-lock.json
.env

/client/build
/client/.pnp
/client/.pnp.js


# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/package-lock.json
/client/node_modules

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
