.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #18181b;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.navbar .left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar .left h4{
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin-right: 10px;
}
.navbar .left p{
    font-size: 16px;
    font-weight: 100;
}

.navbar .right *{
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

.navbar .right *:hover{
    cursor: pointer;
}