:root {
    --brandColor: #625df4;
    --alwaysDark: #212121;
    --brandOffColor: #fff;
    --mainDark: #fff;
    --lightDark: #f7f7f8;
    --darkerBackground: #0e0e0e;
    --lighterBackground: #212121;
    --blackFiler: invert(100%) sepia(100%) saturate(0%) hue-rotate(83deg) brightness(108%) contrast(101%);
    --gray: #757575;
    --green: #6cd06c;
    --red: #fe3d67;
    --paddingTopForScreens: 60px;
  }

.launch{
    flex: 1;
    max-width: 100%;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    overflow-y: scroll;
}


.launch::-webkit-scrollbar {
    display: none;
}

.introArea{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: ;
    background-image: linear-gradient(
        180deg,
        hsl(259deg 84% 32%) 1%,
        hsl(257deg 74% 36%) 24%,
        hsl(254deg 67% 40%) 39%,
        hsl(253deg 62% 44%) 52%,
        hsl(251deg 58% 48%) 61%,
        hsl(249deg 57% 51%) 70%,
        hsl(247deg 63% 55%) 79%,
        hsl(245deg 69% 59%) 88%,
        hsl(244deg 77% 62%) 92%,
        hsl(242deg 87% 66%) 100%
    );
}

.intro-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.launch-top{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    display: flex;
}

.introArea h1{
    font-weight: 200;
    font-size: 30px;
    margin-top: 125px;
    text-align: center;
    color: var(--mainDark)
    /* color: white; */
}

.htmlWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 350px;
}

.launch .tryIt{
    border: 1px solid white;
    height: 36px;
    border-radius: 18px;
    width: 150px;
    margin-top: 25px;
    margin-bottom: 40px;
    background-color: transparent;
    color: white;
}

.launch h2{
    font-size: 40px;
    line-height: 60px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.howItWorks{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #e0e1f7;
}

.howItWorks h2{
    font-weight: 600;
}

.howItWorks *{
    color: #212121;
}


.howItWorks h2{
    margin: 40px 0px;
    
}

.howItWorksRows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: min(1150px, 100%);
    margin: -40px 0px;
}

.howItWorksRows img{
    filter: none;
    width: 450px;
}

.howIt-left{
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    flex-shrink: 1;
}

.launch-tree{
    width: 750px;
    height: 500px;
}

.launch-tree * {
    font-weight: 300;
    font-size: 14px;
}

.launch-payments{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #212121;
}


.launch-purpleButton{
    margin-top: 25px;
    width: 250px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    border-radius: 18px;
    background-color: #625df4;
}



.custom-shape-divider-bottom-1689906032 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689906032 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689906032 .shape-fill {
    fill: #e0e1f7;
}



.custom-shape-divider-bottom-16899060321 {
    margin-top: 125px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-16899060321 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-16899060321 .shape-fill {
    fill: #212121;
}

.custom-shape-divider-bottom-1689915193 {
    margin-top: 150px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689915193 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-bottom-1689915193 .shape-fill {
    fill: #625df4;
}

.launch-demo{
    width: 100%;
    background-color: #625df4;
}

.PurchaseScreen * {
    color: white;
}

.PurchaseScreen-card:first-of-type{
    border-color: white !important;
}

.PurchaseScreen-card:last-of-type{
    border-color: white !important;
}
.launch{
    flex: 1;
    max-width: 100%;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    overflow-y: scroll;
}


.launch::-webkit-scrollbar {
    display: none;
}

.intro-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.launch-top{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    display: flex;
}

.introArea h1{
    font-weight: 200;
    font-size: 30px;
    margin-top: 125px;
    text-align: center;
    color: white;
}

.htmlWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 350px;
}

.launch .tryIt{
    border: 1px solid white;
    height: 36px;
    border-radius: 18px;
    width: 150px;
    margin-top: 25px;
    margin-bottom: 40px;
    background-color: transparent;
    color: white;
}

.launch h2{
    font-size: 40px;
    line-height: 60px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.howItWorks{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #e0e1f7;
}

.howItWorks h2{
    font-weight: 600;
}

.howItWorks *{
    color: #212121;
}


.howItWorks h2{
    margin: 40px 0px;
    
}

.howItWorksRows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: min(1150px, 100%);
    margin: -40px 0px;
}

.howItWorksRows img{
    filter: none;
    width: 450px;
}

.howIt-left{
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    flex-shrink: 1;
}

.launch-tree{
    width: 750px;
    height: 500px;
}

.launch-tree * {
    font-weight: 300;
    font-size: 14px;
}

.launch-payments{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #212121;
}


.launch-purpleButton{
    margin-top: 25px;
    width: 250px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    border-radius: 18px;
    background-color: #625df4;
}



.custom-shape-divider-bottom-1689906032 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689906032 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689906032 .shape-fill {
    fill: #e0e1f7;
}



.custom-shape-divider-bottom-16899060321 {
    margin-top: 125px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-16899060321 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-16899060321 .shape-fill {
    fill: #212121;
}

.custom-shape-divider-bottom-1689915193 {
    margin-top: 150px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689915193 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-bottom-1689915193 .shape-fill {
    fill: #625df4;
}

.launch-demo{
    width: 100%;
    background-color: #625df4;
}

.PurchaseScreen * {
    color: white;
}

.PurchaseScreen-card:first-of-type{
    border-color: white !important;
}

.PurchaseScreen-card:last-of-type{
    border-color: white !important;
}
.launch{
    flex: 1;
    max-width: 100%;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    overflow-y: scroll;
}


.launch::-webkit-scrollbar {
    display: none;
}

.intro-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.launch-top{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    display: flex;
}

.introArea h1{
    font-weight: 200;
    font-size: 30px;
    margin-top: 125px;
    text-align: center;
    color: white;
}

.htmlWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 350px;
}

.launch .tryIt{
    border: 1px solid white;
    height: 36px;
    border-radius: 18px;
    width: 150px;
    margin-top: 25px;
    margin-bottom: 40px;
    background-color: transparent;
    color: white;
}

.launch h2{
    font-size: 40px;
    line-height: 60px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.howItWorks{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #e0e1f7;
}

.howItWorks h2{
    font-weight: 600;
}

.howItWorks *{
    color: #212121;
}


.howItWorks h2{
    margin: 40px 0px;
    
}

.howItWorksRows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: min(1150px, 100%);
    margin: -40px 0px;
}

.howItWorksRows img{
    filter: none;
    width: 450px;
}

.howIt-left{
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    flex-shrink: 1;
}

.launch-tree{
    width: 750px;
    height: 500px;
}

.launch-tree * {
    font-weight: 300;
    font-size: 14px;
}

.launch-payments{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #212121;
}


.launch-purpleButton{
    margin-top: 25px;
    width: 250px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    border-radius: 18px;
    background-color: #625df4;
}



.custom-shape-divider-bottom-1689906032 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689906032 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689906032 .shape-fill {
    fill: #e0e1f7;
}



.custom-shape-divider-bottom-16899060321 {
    margin-top: 125px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-16899060321 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-16899060321 .shape-fill {
    fill: #212121;
}

.custom-shape-divider-bottom-1689915193 {
    margin-top: 150px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689915193 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-bottom-1689915193 .shape-fill {
    fill: #625df4;
}

.launch-demo{
    width: 100%;
    background-color: #625df4;
}

.PurchaseScreen * {
    color: white;
}

.PurchaseScreen-card:first-of-type{
    border-color: white !important;
}

.PurchaseScreen-card:last-of-type{
    border-color: white !important;
}

/* .menuButton.topCorner img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(83deg) brightness(108%) contrast(101%);
}

.menuButton.topCorner:hover img{
    filter: invert(34%) sepia(70%) saturate(3944%) hue-rotate(232deg) brightness(101%) contrast(91%);
} */