:root {
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .toggle-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
  }
  
  .toggle-switch label {
    position: absolute;
    width: 100%;
    height: 22px;
    background-color: var(--dark);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .toggle-switch input {
    position: absolute;
    display: none;
  }
  
  .toggle-switch .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .toggle-switch input:checked ~ .slider {
    background-color: var(--light);
  }
  
  .toggle-switch .slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: inset 6px -1px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }
  
  .toggle-switch input:checked ~ .slider::before {
    transform: translateX(19px);
    background-color: var(--dark);
    box-shadow: none;
  }
  
  .toggle-switch a {
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    top: 30px;
    left: 2px;
    font-size: 2px;
    text-decoration: none;
    color: var(--link);
    font-weight: bold;
    text-align: center;
  }
  
  .toggle-switch a:hover {
    color: var(--link-hover);
  }